.fa-star {
	font-size:24px;
	margin:0.5em;
}
.p10 {
	padding:10px;
}

span {
	display:inline-block;
	text-align:center;
	margin:0.5em;
	background:#ccc;
	width:24px;
	border-radius:50%;
	cursor:pointer;
}
.answerOption {
	display:inline-block;
	text-align:center;
	margin:0.5em;
	width:24px;
	border-radius:50%;
	border:none;
	background:#ccc;
	color:#000;
	cursor:pointer;
}
.selected {
	display:inline-block;
	text-align:center;
	margin:0.5em;
	width:24px;
	border-radius:50%;
	border:none;
	background:#eee;
	color:#ddd;
	cursor:not-allowed;
}
.used {
	display:inline-block;
	text-align:center;
	margin:0.5em;
	width:24px;
	border-radius:50%;
	border:none;
	background:#aaddaa;
	color:#99bb99;
	cursor:not-allowed;
}